<!DOCTYPE html>

<html data-theme="luxury">
  <head>
    <title><%=title.heading %></title>
   
    <link href="/public/style.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    
  </head><style>@media only screen and (max-width: 1000px) {
  
  } 
  </style>
  <body><center>
    <div class="myCard">
      <div class="innerCard">
          <div class="frontSide">
              <p class="title"><%=title.heading %></p>
           
          </div>
          <div class="backSide">
              <p class="title"><%=title.hoverHeading %></p>
              <p><%=title.hoverSubHeading %></p>
          </div>
      </div>
  </div>

<div class="con">
  <div class="card1">
    <div class="text-lime-400	">
      Last Updated<p id="date"></p></div>
  </div>
</div></center>

<center class=" container m-2">
<a href="./specific/value1">
<article class="card  m-2">
  <div class="temporary_text">
    <%=data["s1"].title %>:<div id="s1"></div>
  </div>
<div class="card_content">
  <span class="card_title"><%=data["s1"].subtitle %></span>
      <span class="card_subtitle"><%=data["s1"].description %></span>
    
</div></a>
</article><a href="./specific/value2">
<article class="card m-2">
  <div class="temporary_text">
    <%=data["s2"].title %>:<div id="s2"></div>
  </div>
<div class="card_content">
  <span class="card_title"><%=data["s2"].subtitle %></span>
      <span class="card_subtitle"><%=data["s2"].description %></span>
    
</div>
</article></a></center><center class="flex container m-2">
  <a href="./specific/value3">
  <article class="card m-2">
    <div class="temporary_text">
      <%=data["s3"].title %>:<div id="s3"></div>
    </div>
  <div class="card_content">
    <span class="card_title"><%=data["s3"].subtitle %></span>
        <span class="card_subtitle"><%=data["s3"].description %></span>
      
  </div>
  </article></a><a href="./specific/value4">
  <article class="card m-2">
    <div class="temporary_text">
      <%=data["s4"].title %>:<div id="s4"></div>
    </div>
  <div class="card_content">
    <span class="card_title"><%=data["s4"].subtitle %></span>
        <span class="card_subtitle"><%=data["s4"].description %></span>
      
  </div>
  </article></a></center>
<script>
    function updateData() {
     
      var xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function() {
        if (xhr.readyState === 4 && xhr.status === 200) {
          var data = JSON.parse(xhr.responseText);
let date=new Date(data.date);
         
          document.getElementById("s1").innerHTML = data.value1;
          document.getElementById("s2").innerHTML = data.value2;
          document.getElementById("s3").innerHTML = data.value3;
          document.getElementById("s4").innerHTML = data.value4;
          document.getElementById("date").innerHTML = date.toLocaleString();
        }
      };
      xhr.open("GET", "/api/latest", true);
      xhr.send();
    }

    // Update the data every 2 seconds
    setInterval(updateData, 2000);
  </script><br/><center><section style="display:block;">
   
</div></section></center>

  </body>
  <footer class="footer items-center p-5 bg-neutral text-neutral-content">
    <div class="items-center grid-flow-col">
      <p class="title ">Miscellaneous Toolbox: A collection of Tools.</p>
    </div> 
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <div  >
        <button class="download-button">
          <div class="docs"><svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="20" width="20" viewBox="0 0 24 24"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line y2="13" x2="8" y1="13" x1="16"></line><line y2="17" x2="8" y1="17" x1="16"></line><polyline points="10 9 9 9 8 9"></polyline></svg> Docs</div>
        <a href="/exp">  <div class="download">
            <svg class="css-i6dzq1" stroke-linejoin="round" stroke-linecap="round" fill="none" stroke-width="2" stroke="currentColor" height="24" width="24" viewBox="0 0 24 24"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line y2="3" x2="12" y1="15" x1="12"></line></svg>
          </div></a>
        </button></div>
        <a href="/custom"><button class="btn btn-outline">Edit Page</button>
     </a>  </div>
  </footer>
  
  </html>